# ignore files without extensions. Must be at start
*
!/**/
!*.*

.zig-cache/*
zig-out/*
*.o
temp*.txt

# required for build. Not committed in repo. Used version steam sdk version 162.
*steam_api64.dll

# required for testing with steam api
steam_appid.txt